{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2> МЫ</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
            
          <p>
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </p>
          <ul>
            
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Решение – это концепция, которая необходима во всех сферах жизни, и для каждого человека, занимающего место в деловом мире, должно служить ориентиром.

Решение – это концепция, которая необходима во всех сферах жизни, а для каждого человека, занимающего место в деловом мире, должно служить ориентиром. Путь к принятию правильного решения проходит через правильный анализ и установление причины и сути проблемы.

Для проведения правильного анализа и установления проблемы, с которой имеется вероятность столкновения в конструкции, которая должна работать, необходимо иметь возможность должным образом отслеживать историю конструкции, точно и безупречно наблюдать, контролировать текущее состояние и делать максимально точные прогнозы о том, что может произойти в будущем.

Мы, компания «Вентум / Навис» отслеживаем, формируем отчеты, контролируем и анализируем электромеханические системы со всей их динамикой. Мы, вслед за проведением правильного расчета того, каким образом средства Мониторинга / Контроля, обеспечивающие реализацию данных этапов, будут распределены в общем по проекту, разрабатываем и проектируем, осуществляем поставку выбранных в соответствии с требованиями марки и моделей, оборудования, изготавливаем шкафы, которые будут питать и контролировать системы, вместе с разводкой кабеля и выполнением монтажа полностью выполняем монтажные работы на объекте и осуществляем сдачу работ.

В общих чертах, создавая решения «под ключ», мы исключаем такие вопросы: какие направления инженерных подразделений за какие виды работ должны нести ответственность.

Совместное разделение ценностей совместной работы будет являться основной философией нашей структуры.
          </p>
         
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  {% endblock content %}