
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/service/access_2.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>Системы контроля и управления доступом</h3>
              <p class="fst-italic">
                Созданные в целях безопасности системы контроля и управления доступом, посредством специальных карточных пропусков, выданных персонально, позволяют входить и выходить в определенные помещения или зоны только уполномоченным лицам.

Системы контроля и управления доступом также могут использоваться в качестве системы отслеживания персонала.

Системы контроля и управления доступом посредством программного обеспечения позволяют вести историю учета персонала и посетителей, а также внедрять и реализовывать специальные сценарии обеспечения безопасности здания.

Компания «Вентум» предлагает гибкие решения для исправной работы систем контроля и управления доступом.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}