
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/service/fire_1.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>Системы обнаружения пожара</h3>
              <p class="fst-italic">
                Системы обнаружения пожара состоят из таких элементов, как: панель управления, пожарные извещатели, кнопки пожарной сигнализации, сирены и проблесковые световые оповещатели.

Целью создания такой системы являются обнаружение пожара, направление необходимого предупреждения, применение прописанного сценария на момент пожара и предоставление необходимого времени для обеспечения эвакуации для того, чтобы соответствующие подразделения могли вступить в действия по устранению пожара в максимально короткий период времени.

Системы обнаружения пожара условно делятся на 2 вида: безадресные системы и адресные системы.

Компания «Вентум» оказывает клиентам услуги и поддержку как по установке безадресных, так и адресных систем.

Если необходимо, в систему автоматизации здания шкафов обнаружения пожара осуществляется интеграция BacNet или Modbus, в результате чего обеспечивается мониторинг аварийных сигналов с таких элементов системы, как противопожарные заслонки и пожарные извещатели.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}