
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/why-us.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>АВТОМАТИЗАЦИЯ ЗДАНИЙ</h3>
              <p class="fst-italic">
                Системы автоматизации зданий, обеспечивающие комфортные условия в зданиях и их энергоэффективность, благодаря «Вентум» находятся под управлением и контролем.

Автоматизация зданий обеспечивает централизованный мониторинг, контроль и управление вентиляционных установок, вентиляторов, фанкойлов, котлов, чиллеров, циркуляционных насосов и другого аналогичного механического оборудования посредством специальных программных обеспечений и графических интерфейсов.

Обеспечение управления системой автоматизации здания (BMS) через единый центр с высоким уровнем совместимости посредством интеграции с такими протоколами связи, как BacNet, Modbus, Mbus, KNX.

Благодаря мониторингу и управлению из единого центра, любая неисправность в здании передается пользователю и, предоставляя службе эксплуатации возможность оперативно и в кротчайшие сроки вмешаться и устранить неисправность, обеспечивает непрерывность комфортных условий. Системы автоматизации зданий предоставляют возможность определения индивидуального режима работы для каждой системы, тем самым предотвращая бесполезное / ненужное потребление энергии в часы, когда здание не используется.

Компания «Вентум» предлагая своим клиентам услуги по выполнению работ «под ключ», возлагает на себя обязательства, тем самым снимает нагрузку с клиентов, предоставляя такие услуги, как выбор соответствующего оборудования для объекта и обеспечение координации с компаниями-поставщиками на этапе разработки проекта, а на стадии производства работ – выполнение монтажных работ, сборку и окончательное подключение.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}