
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/service/cctv_1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>Системы видеонаблюдения (CCTV)</h3>
              <p class="fst-italic">
                Мониторинг зданий в целях безопасности, мониторинг и управление транспортным движением, системы распознавания автомобильных регистрационных номеров и системы подсчета людей являются основными сферами применения систем видеонаблюдения.

Записи видеонаблюдения сохраняются в течение предварительно установленного периода времени на приборах регистрации, что обеспечивает доступ к данным видеонаблюдения на необходимую более раннюю дату.

Компания «Вентум» проектирует системы в соответствии с пожеланиями и требованиями клиентов с применением продуктов, соответствующих их функциональному назначению, и предлагает системы в исправно рабочем состоянии.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}