
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/skills.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>Автоматизация энергетических ресурсов</h3>
              <p class="fst-italic">
                Системы автоматизации энергетических ресурсов условно можно разделить на 2 вида: система мониторинга потребления и мониторинга уровня защиты.

Для осуществления экономии энергетических ресурсов необходимо установить, в какой точке потребление является чрезмерным, что является возможным при выполнении соответствующих замеров. В системах автоматизации энергетических ресурсов потребление энергетического ресурса, фиксируемое в системе приборами (анализаторами энергии, защитными реле, ИБП), отслеживается на базе распределительных шкафов, приборов или предохранителей, формируются отчеты и проводится сравнительный анализ с данными предыдущих потреблений энергетического ресурса. Автоматическая отчетность и калькуляция потребления оказывает помощь эксплуатирующим организациям.

В системах мониторинга уровня защиты отслеживаются переключатели, автоматические выключатели, защитные реле и предохранители, информация передается в программное обеспечение для мониторинга энергопотребления (SCADA) или систему автоматизации здания (BMS). Целью такого действия является, в случае возникновения какой-либо неисправности в системе, выдача аварийного сигнала и принятие необходимых действий в результате оповещения посредством электронной почты или СМС-сообщения. Посредством оперативного реагирования обеспечивается минимальная длительность отключений и формируется отчет. По однолинейным схемам имеется возможность отслеживать состояние переключателей на текущий момент.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}