
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
    
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/service/lighting_3.webp' %}" class="img-fluid" alt="">
              
            </div>
            
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3>Автоматизация освещения</h3>
              <p class="fst-italic">
                Мы обеспечиваем комфортные условия и энергоэффективность благодаря системе автоматизации освещения, которая является важной частью интеллектуальных зданий.

В зависимости от цели назначения зданий, управление и мониторинг осуществляются посредством централизованного программного обеспечения или сенсорной панели (touch panel) в данном помещении. Обеспечение экономии энергии осуществляется за счет использования интенсивности освещенности на оптимальном уровне, посредством датчиков дневного света, отключения освещения в неиспользуемых зонах здания с помощью датчиков присутствия. Обеспечивая гибкость с помощью усовершенствованной системы адресации DALI (Digital Addressable Lighting Interface), совместно с автоматизацией штор и прописанных сценариев, посредством интеграции системы автоматизации здания Вы будете полностью контролировать интеллектуальные здания.

В жилых зданиях и в коттеджах, выполнив интеграцию системы автоматизации освещения, системы внутренней связи и видеонаблюдения, посредством сенсорной панели (touch panel) обеспечивается возможность вести мониторинг всех камер с одного экрана, контролировать, и управлять всеми системами в рамках системы интеллектуальных зданий.

Мы обеспечиваем удобство для предприятий, предоставляя возможность удаленно контролировать сведения о работе и неисправностях устройств аварийного освещения и дистанционно проводить их периодическое тестирование.
              </p>

  
            </div>
          </div>
  
        </div>
      </section>
        

  {% endblock content %}