{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
          <h4><a >ПОЛАГАТЬ</a></h4>
          <p>
            Мы верим в разницу, которую мы делаем во всем, что мы делаем, ценность, которую мы обеспечиваем, и знания, которыми мы делимся. Вера в то, что мы поступаем правильно, непоколебимо движет нашим бизнесом, бизнесом наших партнеров и нашим общим успехом.</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="250">
        <div class="icon-box">
          <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
          <h4><a >ДОВЕРЯТЬ</a></h4>
          <p>
            Мы заслуживаем доверие наших партнеров и распространяем это доверие на них. Доверие необходимо нам как людям и позволило нам установить долгосрочные отношения с нашими партнерами, многие из которых были с нами с самого начала.
            </p>
            
        </div>
      </div>

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
          <h4><a >ИНВЕСТИЦИИ</a></h4>
          <p>
            Наши инвестиции в отношения с партнерами, персоналом и поставщиками делают нас надежной и мощной организацией, которой мы являемся. Речь идет не только о последних тенденциях и изменениях в отрасли — речь идет о том, кто мы, что мы делаем и как мы относимся к людям.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->


 
  {% endblock content %}